body{
    padding: 3px;
    max-width: 1600px;
    width: 99%;
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    padding: 0;
    text-align: center;
    font-size: 75%;
}
.columns{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding:0;
    left: 0;
    right: 0;
    top: 0;


}
.column{
    flex: 1;
    border: 3px solid black;
    margin: 5px;
    padding: 5px;
    background: gray;
}
.beef{
    text-align: right;
    border: 2px solid black;
    background-color: maroon;
    color: white;
    position: relative;
    margin: 20px;
    top: -28px;
    right: -392px;
    display: inline-block;
    padding: 6px 20px;
    font-size: medium;
}
.chicken{
    text-align: right;
    border: 2px solid black;
    background-color: pink;
    color: black;
    position: relative;
    margin: 20px;
    top: -28px;
    right: -367px;
    display: inline-block;
    padding: 6px 20px;
    font-size: medium;
}
.sushi{
    text-align: right;
    border: 2px solid black;
    background-color: goldenrod;
    color: black;
    position: relative;
    margin: 20px;
    top: -28px;
    right: -386px;
    display: inline-block;
    padding: 6px 20px;
    font-size: medium;
}
